@use '../variables.scss'as *;

/* ============================
   Breadcrumb
   ============================ */
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        font-size: 0.875rem;

        +.breadcrumb__item::before {
            content: "/";
            padding: 0 0.5rem;
            color: #adb5bd;
        }

        &--active {
            color: #6c757d;
        }
    }

    &__link {
        text-decoration: none;
        color: $primary-color;
    }
}

/* ===== End Breadcrumb ===== */