@use "../variables.scss"as *;

.metric-box {
    padding: 1rem;
    border-radius: 0.75rem;
    color: $white;
    flex: 1;

    &--dark {
        background-color: #455a64;
    }

    &--primary {
        background-color: $primary-color;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__value {
        font-size: 1.75rem;
        font-weight: 700;
    }
}