.chart-container-xl {
    min-height: 400px;
}

.chart-container-lg {
    min-height: 350px;
}

.chart-container-md {
    min-height: 250px;
}

.chart-container-sm {
    min-height: 180px;
}

.icon-xl {
    font-size: 100px;
}

.progress-xs {
    height: 6px;
}
