@use "variables"as *;
@use "reset"as *;

/* 3. GLOBAL TYPOGRAPHY */
body {
    font-family: 'Inter', 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Typography & Colors */
.text-gradient {
    background: linear-gradient(135deg, var(--elite-primary), var(--elite-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
