<!-- PRELOADER -->
<div class="preloader">
    <div class="preloader__box text-center">
        <div class="preloader__logo mb-3">
            <img src="src/images/xivig-logo1.png" alt="Logo" width="120" />
        </div>
        <div class="preloader__progress">
            <div class="preloader__bar" id="bar1"></div>
        </div>
        <div class="preloader__percent" id="percent1">0%</div>
        <div class="preloader__text">Loading...</div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>