<!-- SIDEBAR -->
<aside class="sidebar" id="sidebar">
    <div class="sidebar__brand">
        <div class="sidebar__brand-wrapper">
            <img src="/src/images/logo.png" alt="Logo" class="sidebar__logo" />
            <h4 class="sidebar__title">XivigApp</h4>
        </div>
        <div class="sidebar__close d-xl-none" id="sidebar-close">
            <i class="bi bi-x-lg"></i>
        </div>
    </div>

    <nav class="sidebar__nav custom-scroll">
        <ul class="sidebar__menu" id="accordion-menu">

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-house"></span>
                    <span class="sidebar__text">Home</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="index.html" class="sidebar__sub-link">Dashboard v1</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="index2.html" class="sidebar__sub-link">Dashboard v2</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-shop"></span>
                    <span class="sidebar__text">Ecommerce</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="ecommerce-products.html"
                                class="sidebar__sub-link">Product List</a></li>
                        <li class="sidebar__sub-item"><a href="ecommerce-add-product.html" class="sidebar__sub-link">Add
                                Product</a></li>
                        <li class="sidebar__sub-item"><a href="ecommerce-product-show.html"
                                class="sidebar__sub-link">Product Show</a></li>
                        <li class="sidebar__sub-item"><a href="ecommerce-product-detail.html"
                                class="sidebar__sub-link">Product Analytics</a></li>
                        <li class="sidebar__sub-item"><a href="ecommerce-orders.html" class="sidebar__sub-link">Order
                                List</a></li>
                        <li class="sidebar__sub-item"><a href="ecommerce-cart.html" class="sidebar__sub-link">Shopping
                                Cart</a></li>
                        <li class="sidebar__sub-item"><a href="store-settings.html" class="sidebar__sub-link">Store
                                Settings</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-journal-text"></span>
                    <span class="sidebar__text">Blog</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="blog-list.html" class="sidebar__sub-link">Blog List</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="blog-detail.html" class="sidebar__sub-link">Blog
                                Details</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-book-half"></span>
                    <span class="sidebar__text">Course</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="course-dashboard.html" class="sidebar__sub-link">Course
                                Dashboard</a></li>
                        <li class="sidebar__sub-item"><a href="course-interface.html" class="sidebar__sub-link">Course
                                Interface</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-grid"></span>
                    <span class="sidebar__text">Apps</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="chat.html" class="sidebar__sub-link">Chat</a></li>
                        <li class="sidebar__sub-item"><a href="calendar.html" class="sidebar__sub-link">Calendar</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="video-player.html" class="sidebar__sub-link">Video
                                Player</a></li>
                        <li class="sidebar__sub-item"><a href="kanban.html" class="sidebar__sub-link">Kanban</a></li>
                        <li class="sidebar__sub-item"><a href="task-manager.html" class="sidebar__sub-link">Task</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="file-manager.html" class="sidebar__sub-link">File
                                Manager</a></li>
                        <li class="sidebar__sub-item"><a href="inbox.html" class="sidebar__sub-link">Mailbox</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-textarea-resize"></span>
                    <span class="sidebar__text">Form</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="form-basic.html" class="sidebar__sub-link">Form Basic</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="advanced-components.html"
                                class="sidebar__sub-link">Advanced Components</a></li>
                        <li class="sidebar__sub-item"><a href="form-pickers.html" class="sidebar__sub-link">Form
                                Pickers</a></li>
                        <li class="sidebar__sub-item"><a href="form-extras.html" class="sidebar__sub-link">Form
                                Extras</a></li>
                        <li class="sidebar__sub-item"><a href="form-grid.html" class="sidebar__sub-link">Form Grid</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="form-wizard.html" class="sidebar__sub-link">Form
                                Wizard</a></li>
                        <li class="sidebar__sub-item"><a href="image-cropper.html" class="sidebar__sub-link">Image
                                Cropper</a></li>
                        <li class="sidebar__sub-item"><a href="image-dropzone.html" class="sidebar__sub-link">Image
                                Dropzone</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-table"></span>
                    <span class="sidebar__text">Table</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="basic-table.html" class="sidebar__sub-link">Basic
                                Table</a></li>
                        <li class="sidebar__sub-item"><a href="datatable.html" class="sidebar__sub-link">Datatables</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-archive"></span>
                    <span class="sidebar__text">UI Elements</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="ui-buttons.html" class="sidebar__sub-link">Buttons</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="ui-cards.html" class="sidebar__sub-link">Cards</a></li>
                        <li class="sidebar__sub-item"><a href="ui-cards-hover.html" class="sidebar__sub-link">Cards
                                Hover</a></li>
                        <li class="sidebar__sub-item"><a href="ui-modals.html" class="sidebar__sub-link">Modals</a></li>
                        <li class="sidebar__sub-item"><a href="ui-tabs.html" class="sidebar__sub-link">Tabs</a></li>
                        <li class="sidebar__sub-item"><a href="ui-sweet-alert.html" class="sidebar__sub-link">Sweet
                                Alert</a></li>
                        <li class="sidebar__sub-item"><a href="ui-notification.html"
                                class="sidebar__sub-link">Notification</a></li>
                        <li class="sidebar__sub-item"><a href="ui-timeline.html" class="sidebar__sub-link">Timeline</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="ui-progressbar.html"
                                class="sidebar__sub-link">Progressbar</a></li>
                        <li class="sidebar__sub-item"><a href="ui-typography.html"
                                class="sidebar__sub-link">Typography</a></li>
                        <li class="sidebar__sub-item"><a href="ui-list-group.html" class="sidebar__sub-link">List
                                group</a></li>
                        <li class="sidebar__sub-item"><a href="ui-range-slider.html" class="sidebar__sub-link">Range
                                slider</a></li>
                        <li class="sidebar__sub-item"><a href="ui-carousel.html" class="sidebar__sub-link">Carousel</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="ui-toggle.html" class="sidebar__sub-link">Collapsible
                                Toggle</a></li>
                        <li class="sidebar__sub-item"><a href="ui-offcanvas.html"
                                class="sidebar__sub-link">Offcanvas</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-command"></span>
                    <span class="sidebar__text">Icons</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="bootstrap-icon.html" class="sidebar__sub-link">Bootstrap
                                Icons</a></li>
                        <li class="sidebar__sub-item"><a href="font-awesome.html" class="sidebar__sub-link">FontAwesome
                                Icons</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-pie-chart"></span>
                    <span class="sidebar__text">Charts</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="apexcharts.html" class="sidebar__sub-link">Apexcharts</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="chartjs.html" class="sidebar__sub-link">Chart.js</a></li>
                        <li class="sidebar__sub-item"><a href="e-chart.html" class="sidebar__sub-link">E-Charts</a></li>
                        <li class="sidebar__sub-item"><a href="highchart.html" class="sidebar__sub-link">Highcharts</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="jtvector-map.html" class="sidebar__sub-link">Vector
                                Map</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-file-earmark-text"></span>
                    <span class="sidebar__text">Extras</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">

                        <li class="sidebar__sub-item"><a href="invoice.html" class="sidebar__sub-link">Invoice</a></li>
                        <li class="sidebar__sub-item"><a href="faq.html" class="sidebar__sub-link">FAQ</a></li>
                        <li class="sidebar__sub-item"><a href="gallery.html" class="sidebar__sub-link">Gallery</a></li>
                        <li class="sidebar__sub-item"><a href="pricing-table.html" class="sidebar__sub-link">Pricing
                                Table</a></li>
                        <li class="sidebar__sub-item"><a href="sitemap.html" class="sidebar__sub-link">Sitemap</a></li>
                        <li class="sidebar__sub-item"><a href="blank.html" class="sidebar__sub-link">Blank Page</a></li>
                        <li class="sidebar__sub-item"><a href="search.html" class="sidebar__sub-link">Search Result</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-bug"></span>
                    <span class="sidebar__text">Errors</span>
                </a>
                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="400.html" class="sidebar__sub-link">400 Bad Request</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="403.html" class="sidebar__sub-link">403 Forbidden</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="404.html" class="sidebar__sub-link">404 Not Found</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="500.html" class="sidebar__sub-link">500 Internal
                                Error</a></li>
                        <li class="sidebar__sub-item"><a href="503.html" class="sidebar__sub-link">503 Service
                                Unavailable</a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar__item sidebar__item--has-dropdown">
                <a href="javascript:;" class="sidebar__link">
                    <span class="sidebar__icon bi bi-file-earmark-text"></span>
                    <span class="sidebar__text">Additional Pages</span>
                </a>

                <div class="sidebar__submenu-wrapper">
                    <ul class="sidebar__submenu">
                        <li class="sidebar__sub-item"><a href="maintenance.html"
                                class="sidebar__sub-link">Maintenance</a></li>
                        <li class="sidebar__sub-item"><a href="multi-step-account-onboarding.html" class="sidebar__sub-link">Account Onboarding</a></li>
                        <li class="sidebar__sub-item"><a href="help-support.html" class="sidebar__sub-link">Help & Support</a></li>
                        <li class="sidebar__sub-item"><a href="profile.html" class="sidebar__sub-link">Profile</a></li>
                        <li class="sidebar__sub-item"><a href="account-settings.html" class="sidebar__sub-link">Account
                                Settings</a></li>
                        <li class="sidebar__sub-item"><a href="login.html" class="sidebar__sub-link">Login</a></li>
                        <li class="sidebar__sub-item"><a href="register.html" class="sidebar__sub-link">Register</a>
                        </li>
                        <li class="sidebar__sub-item"><a href="forgot-password.html" class="sidebar__sub-link">Forgot
                                Password</a></li>
                        <li class="sidebar__sub-item"><a href="reset-password.html" class="sidebar__sub-link">Reset
                                Password</a></li>
                        <li class="sidebar__sub-item"><a href="two-factor-authentication.html"
                                class="sidebar__sub-link">Two Factor Authentication</a></li>
                        <li class="sidebar__sub-item"><a href="lockscreen.html" class="sidebar__sub-link">Lock
                                Screen</a></li>

                </div>

            </li>


            <li class="sidebar__item">
                <a href="https://docs.xivig.com" target="_blank" class="sidebar__link">
                    <span class="sidebar__icon bi bi-book"></span>
                    <span class="sidebar__text">Documentation</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="xivig.html" class="sidebar__link">
                    <span class="sidebar__icon bi bi-app"></span>
                    <span class="sidebar__text">Landing Page</span>
                    <img src="src/images/xivig-logo.png" alt="Logo" class="sidebar__logo">
                </a>
            </li>
        </ul>
    </nav>

    <div class="sidebar__footer mt-auto p-4 border-top border-opacity-10">
        <div class="d-flex justify-content-between mb-2">
            <span class="fw-bold text-white extra-small">CLOUD SPACE</span>
            <span class="fw-black text-success extra-small">12% USED</span>
        </div>
        <div class="progress" style="height: 6px; background: rgba(0,0,0,0.05);">
            <div class="progress-bar bg-success" role="progressbar" style="width: 12%"></div>
        </div>
    </div>
</aside>