// simple mixins used across components
@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition($prop: all, $time: 0.3s, $ease: ease) {
    transition: $prop $time $ease;
}
